<template>
  <div class="container">
    <div class="title">{{ config.stupidChatbotTitle }}</div>
    <user-name-input v-if="!store.userName" />
    <template v-else>
      <question-input :disabled="stupidFriendIsThinking"
                      class="question-input"
                      @question="handleQuestion" />
      <dialog-window :answers="answers"
                     :questions="questions" />
    </template>
  </div>
</template>


<script setup lang="ts">
  import QuestionInput from '@/components/QuestionInput.vue';
  import { Question } from '@/types/Question';
  import { ref } from 'vue';
  import { useStore } from '@/stores';
  import DialogWindow from '@/components/DialogWindow.vue';
  import { config } from '@/config';
  import { DialogItem } from '@/types/DialogItem';
  import { getRandomValue } from '@/helpers/getRandomvalue';
  import UserNameInput from '@/components/UserNameInput.vue';

  const store = useStore();

  const stupidFriendIsThinking = ref(false);
  const questions              = ref<DialogItem[]>([]);
  const answers                = ref<DialogItem[]>([]);

  let lastAnswer: null | string = null;

  const pickAnswer = (questionType: string) => {
    let answer = null;
    const targetAnswerArray = questionType === 'question' ? store.stupidAnswers.toQuestions : store.stupidAnswers.toSentences;
    while (!answer || answer === lastAnswer) {
      answer = targetAnswerArray[Math.floor(Math.random() * targetAnswerArray.length)];
    }
    lastAnswer = answer;
    return answer;
  };

  const handleQuestion = (event: Question) => {
    stupidFriendIsThinking.value = true;
    const now = new Date();
    store.incrementQuestionsCounter();
    questions.value.push({
      id    : getRandomValue(1, 100000),
      time  : `${now.getHours()}:${now.getMinutes()}`,
      value : event.value
    });
    setTimeout(() => {
      answers.value.push({
        id    : getRandomValue(1, 100000),
        time  : `${now.getHours()}:${now.getMinutes()}`,
        value : pickAnswer(event.type)
      });
      stupidFriendIsThinking.value = false;
    }, getRandomValue(config.minThinkingTime, config.maxThinkingTime));
  };
</script>


<style scoped>
  .title {
    font-size     : 30px;
    font-weight   : bold;
    margin-bottom : 20px;
    text-align    : center;
  }
  .container {
    display        : flex;
    flex-direction : column;
    width          : 50%;
  }
  .question-input {
    margin-bottom: 20px;
  }
</style>
