<template>
  <div ref="dialogWindowElement"
       class="dialog-window-container">
    <template v-for="(question, index) in questions"
              :key="questions[index].id">
      <div class="question">
        <div class="user-name">
          <span>{{ store.userName }}&nbsp;&nbsp;</span>
          <span class="message-time">{{ question.time }}</span>
        </div>
        <div>{{ question.value }}</div>
      </div>
      <div class="answer">
        <div v-if="answers[index]">
          <div class="user-name chatbot-user-name">
            <span>{{ config.chatbotUserName }}&nbsp;&nbsp;</span>
            <span class="message-time">{{ answers[index].time }}</span>
          </div>
          <div>{{ answers[index].value }}</div>
        </div>
        <div v-else
             class="spinner"></div>
      </div>
    </template>
  </div>
</template>


<script setup lang="ts">
  import { nextTick, onMounted, PropType, ref, watch } from 'vue';
  import { DialogItem } from '@/types/DialogItem';
  import { useStore } from '@/stores';
  import { config } from '@/config';

  const dialogWindowElement = ref<HTMLDivElement>();

  const store = useStore();

  const props = defineProps({
    questions: {
      type     : Array as PropType<DialogItem[]>,
      required : true
    },
    answers: {
      type     : Array as PropType<DialogItem[]>,
      required : true
    }
  });

  onMounted(() => {
    watch(() => [props.questions, props.answers], async() => {
      await nextTick(() => {
        dialogWindowElement.value!.scrollTop = dialogWindowElement.value!.scrollHeight;
      });
    }, { immediate: true, deep: true });
  });

</script>


<style scoped>
  .dialog-window-container {
    border           : solid 1px #333;
    height           : 100%;
    display          : flex;
    flex-direction   : column;
    padding          : 20px;
    background-color : #111;
    border-radius    : 10px;
    overflow         : auto;
  }
  .question,
  .answer {
    border-radius : 5px;
    margin-bottom : 15px;
    max-width     : 60%;
    width         : fit-content;
    padding       : 15px;
    font-size     : 18px;
  }
  .question {
    background-color: var(--questionBgColor);
  }
  .answer {
    background-color : var(--answerBgColor);
    align-self       : end;
    text-align       : right;
  }
  .spinner {
    width         : 16px;
    height        : 16px;
    border-radius : 50%;
    border        : 2px solid transparent;
    border-top    : 2px solid var(--spinnerColor);
    animation     : spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .user-name {
    font-size     : 13px;
    margin-bottom : 7px;
  }
  .chatbot-user-name {
    text-align: right;
  }
  .message-time {
    color: #aaa;
  }
</style>
