<template>
  <form @submit.prevent="submitQuestion">
    <input ref="questionInput"
           :disabled="disabled"
           :placeholder="!store.questionsCount ? config.welcomeMessage : ''"
           type="text"
           class="input" />
  </form>
</template>


<script setup lang="ts">
  import { nextTick, onMounted, ref, watch } from 'vue';
  import { Question } from '@/types/Question';
  import { useStore } from '@/stores';
  import { config } from '@/config';

  const store = useStore();

  const questionInput = ref<HTMLInputElement>();

  const emits = defineEmits(['question']);

  const props = defineProps({
    disabled: {
      type: Boolean
    }
  });

  const submitQuestion = (): void => {
    if (questionInput.value && questionInput.value.value) {
      const question: string     = questionInput.value.value.trim();
      const isAQuestion: boolean = question[question.length - 1] === '?';
      emits('question', {
        type  : isAQuestion ? 'question' : 'sentence',
        value : question
      } as Question);
      questionInput.value.value = '';
    }
  };

  onMounted(() => {
    questionInput.value!.focus();
  });

  watch(() => props.disabled, async disabled => {
    if (!disabled) {
      await nextTick(() => {
        questionInput.value!.focus();
      });
    }
  });
</script>
