<template>
  <form @submit.prevent="submitUserName">
    <input ref="userNameInput"
           placeholder="Enter your name and press Enter"
           type="text"
           class="input" />
  </form>
</template>

<script setup lang="ts">
  import { onMounted, ref } from 'vue';
  import { useStore } from '@/stores';

  const store = useStore();
  const userNameInput = ref<HTMLInputElement>();

  const submitUserName = () => {
    if (userNameInput.value?.value) {
      store.storeUserName(userNameInput.value?.value);
    }
  };

  onMounted(() => {
    userNameInput.value?.focus();
  });
</script>
