:root {
  --bodyBgColor     : #222;
  --questionBgColor : #468;
  --answerBgColor   : #484;
  --spinnerColor    : #fff;
}

@font-face {
  font-family  : Carlito;
  font-style   : normal;
  font-display : block;
  font-weight  : 400;
  src          : url("../fonts/Carlito-Regular.ttf") format("opentype");
}
@font-face {
  font-family  : Carlito;
  font-style   : normal;
  font-display : block;
  font-weight  : 700;
  src          : url("../fonts/Carlito-Bold.ttf") format("opentype");
}

* {
  box-sizing: border-box;
}
html, body {
  margin : 0;
  width  : 100%;
  height : 100%
}
body {
  /*font-family      : "Carlito", sans-serif;*/
  font-family      : 'Carlito', sans-serif;
  padding          : 16px;
  background-color : var(--bodyBgColor);
  color            : #fff;
}
#app {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.input {
  font-family      : 'Carlito', sans-serif;
  font-size        : 16px;
  padding          : 10px;
  border           : solid 1px #333;
  border-radius    : 10px;
  appearance       : none;
  background-color : #111;
  width            : 100%;
  outline          : none;
  color            : #eee;
  box-shadow       : inset 3px 3px 5px #000;
}
.input:disabled {
  background-color : #222;
}
